<!DOCTYPE html>
<html>

<head>
  <title>Nobel Laureates</title>
</head>

<body>

<h1> Nobel Prize Winners </h1>
<h4> Choose the criteria by which you want to search by and the keyword </h4>
  <center>

    <form id="uni" action="result" method="post" >
      <input type="radio" name="filter" value="year"> Year <br>
      <input type="radio" name="filter" value="category"> Category <br>
      <input type="radio" name="filter" value="name"> Name <br>
      <input type="text" name="res">
      <input type="submit" id = "submit_info" value="Submit">
    </form>

  </center>


</body>


</html>
